* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #aeaeae;
}

li {
  list-style: none;
}

/* ------------------------------ */
/* DEBUG  */
.debug {
  border: 1px solid red;
}

/* ------------------------------------- */
/* COMMON  */
.main {
  width: 100vw;
  height: 100vh;
}

.icons {
  font-size: 24px;
  font-weight: 600;
  padding-right: 5px;
}

/* ------------------------------------- */
/* NAVIGAZIONE LATERALE  */
.nav {
  width: 250px;
  height: calc(100% - 80px);
  float: left;
  background-color: black;
  overflow: hidden;
}

.nav-lat {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  padding-right: 60px;
  padding-left: 30px;
}

.logo {
  width: auto;
  padding: 0 20px 20px 0;
}

.home-cerca-libreria a,
.playlist a {
  font-size: bolder;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: 12px;
}

h3 {
  color: white;
  font-size: 16px;
  margin: 10px 0;
}

#add-playlist {
  font-size: 18px;
}

.fa-plus-square {
  font-size: 40px;
}

/* .home-cerca-libreria ul li,
.playlist ul li {
  height: 30px;
  line-height: 30px;
  padding-bottom: 10px;
  font-size: 12px;
} */
/* 
h3 {
  color: white;
}

.fa-plus-square {
  font-size: 40px;
} 

.add-playlist {
  font-size: 16px;
}


*/

/* ------------------------------------- */
/* PLAYER  */
footer.player {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #181818;
  border-top: 1px solid #282828;
  flex-direction: column;
  z-index: 4;
}
